.card {
    width: 180px;
    height: 100px;
    margin: 10px auto;
    border-radius: 0.5em;
    
    color: white;
    background-color: #EF3E5C;
    font-size: x-small;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    position: relative;
}

.number-input {
  margin: 1em;
  transform: translateY(-30px);
}

.name-input {
  margin: 0 1em;
}

.date-input {
  margin: 0 0 1em 1em;
}

.card img {
  transform: scale(0.6);
  position: absolute;
  bottom: 0;
  right: 0;
}