.repository {
  margin: 10vh auto;
  display: flex;
  
  width: 700px;
  height: 550px;
  border-radius: 10px;
}

.rep-wrapper {
  width: 30%;
}

.rep-list {
  height: 70%;
  border-radius: 10px 0 0 0;
  background-color: #292C3A;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rep-list > a {
  text-decoration: none;
}
